<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Product</title>
</head>
<body>
  <form method="POST">
    Product Name<br>
    <input type="text" name="username">
    <br>
    <br>
    Price<br>
    <input type="text" name="username">
    <br>
    <br>      
    <input type="submit" value="Save">
    <input type="submit" value="Cancel">
  </form>
</body>
</html>