<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Address</title>
</head>
<body>
    <form method="POST">
        Street Address <br>
        <input type="text" name="street"><br><br>
        City Address <br>
        <select>
            <% for (let i=0; i<data.length; i++){ %>
                <option value="<%= data[i]['id'] %>"> <%=`${data[i]['city_name']} ${data[i]['postal_code']}`%> </option>
            <% } %>
        </select>
        <input type="submit" value="Save">
    </form>
</body>
</html>