<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <div class= "wrapper">
        <div class ="content">
        <% products.forEach(product => { %>
            <div class="item-block">
                <img src="<%=product.picture_source%>" alt="<%=product.name%>">
                <div class = "item-menu">
                    name: <%= product.name %><br>
                    price: Rp <%= product.price %> 
                </div>
            
            </div>
        <% }) %>
        
        
        </div>
    
    
    
    
    </div>
     
    </body>
</html>