<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Product</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Data Product Name</td>
                <td>Data Price</td>
                <td>Edit | Delete</td>
            </tr>
    </form>  
</body>
</html>